opencv-python
flask
flask-socketio
flask-cors
Pillow
torch
numpy
os
io
datetime
transformers
sqlite3
contextlib
wave
shutil
tempfile
subprocess
azure-core
azure-ai-language-conversations
openai
torchaudio
pyannote.audio
pyannote.core
sklearn.cluster
scipy.spatial.distance